.block-title <b>Любые цветовые решения</b>
div(class="color-solutions container" style={"background-image":"url(/img/configurator/window-bg.jpg)"})
    .color-solutions-left
        .window
            img.window__frame(src=img+"color-solutions/lamination/v1-1.png", alt="")
            img.window__handle(src=img+"color-solutions/handle/v1-1.png", alt="")
    .color-solutions-right
				.color-solutions__title Выберите опции для окон
				.sliders
					.sliders__title Варианты ламинации
					.slider.lamination
						.slide.active
							.img-wrap
								img.slide__img(data-name="v1-1.png" src=img+"color-solutions/lamination/v1.png", alt="")
							.slide__text Без ламинации
						.slide
							.img-wrap
								img.slide__img(data-name="v2-1.png" src=img+"color-solutions/lamination/v2.png", alt="")
							.slide__text Натуральный дуб
						.slide
							.img-wrap
								img.slide__img(data-name="v3-1.png" src=img+"color-solutions/lamination/v3.png", alt="")
							.slide__text Темный дуб
						.slide
							.img-wrap
								img.slide__img(data-name="v4-1.png" src=img+"color-solutions/lamination/v4.png", alt="")
							.slide__text Светлый дуб
						.slide
							.img-wrap
								img.slide__img(data-name="v5-1.png" src=img+"color-solutions/lamination/v5.png", alt="")
							.slide__text Орегон
						.slide
							.img-wrap
								img.slide__img(data-name="v6-1.png" src=img+"color-solutions/lamination/v6.png", alt="")
							.slide__text Горная сосна
						.slide
							.img-wrap
								img.slide__img(data-name="v7-1.png" src=img+"color-solutions/lamination/v7.png", alt="")
							.slide__text Коричневый каштан
						.slide
							.img-wrap
								img.slide__img(data-name="v8-1.png" src=img+"color-solutions/lamination/v8.png", alt="")
							.slide__text Розовая береза
						.slide
							.img-wrap
								img.slide__img(data-name="v9-1.png" src=img+"color-solutions/lamination/v9.png", alt="")
							.slide__text Золотой орех
					.sliders__title Цвет ручек
					.slider.handle
						.slide.active
							.img-wrap
								img.slide__img(data-name="v1-1.png" src=img+"color-solutions/handle/v1.png", alt="")
							.slide__text Белый
						.slide
							.img-wrap
								img.slide__img(data-name="v2-1.png" src=img+"color-solutions/handle/v2.png", alt="")
							.slide__text Матовый титан
						.slide
							.img-wrap
								img.slide__img(data-name="v3-1.png" src=img+"color-solutions/handle/v3.png", alt="")
							.slide__text Натуральное серебро
						.slide
							.img-wrap
								img.slide__img(data-name="v4-1.png" src=img+"color-solutions/handle/v4.png", alt="")
							.slide__text Шампань
						.slide
							.img-wrap
								img.slide__img(data-name="v5-1.png" src=img+"color-solutions/handle/v5.png", alt="")
							.slide__text Средняя бронза
						.slide
							.img-wrap
								img.slide__img(data-name="v6-1.png" src=img+"color-solutions/handle/v6.png", alt="")
							.slide__text Матовая латунь
						.slide
							.img-wrap
								img.slide__img(data-name="v7-1.png" src=img+"color-solutions/handle/v7.png", alt="")
							.slide__text Серо-коричневый
						.slide
							.img-wrap
								img.slide__img(data-name="v8-1.png" src=img+"color-solutions/handle/v8.png", alt="")
							.slide__text Бронза
				.color-solutions-row
					a.btn-yellow(href="#") заказать окно
					.color-solutions__text Цвета на экране могут отличаться от реальных. Выбрать цвета из полного ассортимента вы можете бесплатно вызвав менеджера на дом или посетив наш офис продаж 